gradio
streamlit
PyMuPDF
requests
langchain-openai
python-dotenv
chromadb
langchain
langchain_community
langchain-text-splitters
sentence-transformers
langchain-huggingface
google-api-python-client
google-auth
google-auth-httplib2 
google-auth-oauthlib


